<html>
  <head></head>
  <body>
    <p>Hola <strong>{{ full_name }}</strong></p>

    <p>
      Te escribimos para darte la bienvenida a DAO Education y acompañarte en tus primeros pasos de esta experiencia educativa.
    </p>

    <h3>Programa de nivelación</h3>

    <p>
      Nuestra plataforma de nivelación online es la misma en la que completaste el formulario de inscripción.
      <br/>
      Ahí vas a poder ver lecciones grabadas con todos los temas que necesitas dominar antes de lanzarte
      a tu propia aventura DAO.
      <br/>
      Las clases están organizadas en módulos, y al final de cada uno un breve cuestionario te va a ayudar a evaluar
      si entendiste todo.
    </p>

    <p>
      Para ver las clases ingresa a <a href="https://dao.education/wp-login.php">https://dao.education</a>
      <br/>
      Nos tomamos la libertad de crearte una contraseña, pero puedes cambiarla cuando quieras.
      <br/>
      Nombre de usuario: <strong>{{ email }} </strong>
      <br/>
      Contraseña: <strong>{{ password }} </strong>
      <br/>
    </p>

    <h3>La comunidad en Discord</h3>

    <p>
      Nuestra comunidad educativa está en la plataforma <strong>Discord</strong>
      <br/>
      Ahí podrás hablar con otros estudiantes, profesores, participar de los eventos virtuales, y mantenerte
      al tanto de las últimas noticias.
      <br/>
      Además, nuestra comunidad es el mejor lugar para buscar ayuda creando tu propia DAO, o participando
      de alguna DAO existente, y obtener beneficios por hacerlo.
      <br/>
      Visita
      <a href="{{ discord_verification_link }}">este link para acceder a la comunidad</a>.
      (Si todavía no tienes cuenta en Discord podrás crear una al instante).
      <br/>
      ¡Ingresa a nuestro Discord y asegúrate de presentarte!
    </p>

    <p>
      Si tienes dudas puedes escribirnos a <a href="mailto:info@dao.education">info@dao.education</a>
      <br/>
      ¡Un gran saludo!
      <br/>
      El equipo de dao.education
    </p>

  </body>
</html>
