[global]
secret_key="BEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEF"
stripe_secret_key="sk_test_example"
stripe_public_key = "pk_test_example"
checkout_domain="http://example.com"

[global.programs]
zero_to_hero = "price_one"
academy = "price_two"
