[global]
secret_key="BEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEFBEEF"
stripe_secret_key="sk_test_example"
recaptcha_private_key="recaptcha_private_key"

# For CORS whitelisting between the site and this api server.
checkout_domain="http://example.com"

[global.public_config]
stripe_key = "pk_test_example"
recaptcha_key = "recaptcha_site_key"

[global.programs]
zero_to_hero = "price_one"
coding_bootcamp = "price_two"
